
.header-toolbar {
  background-color: #4caf50; 
  color: white;
}

.header-title {
  text-align: center;
  font-weight: bold;
  color: #4caf50;
}


.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


.calc-card {
  width: 90%;
  max-width: 400px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.795);
  padding: 15px;
}

.input-item {
  border-radius: 8px;
  padding: 10px;
}

.button-group {
  margin-top: 15px;
  display: flex;
  justify-content: center;
}

.custom-button {
  width: 100%;
  border-radius: 8px;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}

.custom-button:hover {
  background-color: #388e3c;
}

.result-item {
  margin-top: 15px;
  text-align: center;

  border-radius: 8px;
  padding: 10px;
  font-weight: bold;
  color: #2e7d32;
}
